<aside class="sidebar">
    <div class="logo">
        <i class="ri-book-open-line"></i>
        <span>BiblioTech</span>
    </div>
    <nav>
        <ul class="menu">
            <li class="menu-item">
                <a href="#" class="menu-link active">
                    <i class="ri-dashboard-line"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="#" class="menu-link has-submenu">
                    <i class="ri-book-2-line"></i>
                    <span>Livros</span>
                </a>
                <ul class="submenu">
                    <li><a href="#" class="submenu-link">Gerenciar Livros</a></li>
                    <li><a href="#" class="submenu-link">Gerenciar Categorias</a></li>
                </ul>
            </li>
            <li class="menu-item">
                <a href="#" class="menu-link has-submenu">
                    <i class="ri-user-line"></i>
                    <span>Alunos</span>
                </a>
                <ul class="submenu">
                    <li><a href="#" class="submenu-link">Gerenciar Alunos</a></li>
                    <li><a href="#" class="submenu-link">Gerenciar Salas</a></li>
                </ul>
            </li>
            <li class="menu-item">
                <a href="#" class="menu-link has-submenu">
                    <i class="ri-exchange-funds-line"></i>
                    <span>Empréstimos</span>
                </a>
                <ul class="submenu">
                    <li><a href="#" class="submenu-link">Empréstimos</a></li>
                    <li><a href="#" class="submenu-link">Devoluções</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="user-info">
        <div class="user-avatar">JD</div>
        <button class="user-menu-toggle" id="user-menu-toggle">
            <span class="user-name">João da Silva</span>
            <i class="ri-arrow-down-s-line"></i>
        </button>
        <div class="user-dropdown" id="user-dropdown">
            <a href="#" class="user-dropdown-item">
                <i class="ri-user-settings-line"></i>
                Gerenciar Perfil
            </a>
            <a href="#" class="user-dropdown-item">
                <i class="ri-logout-box-r-line"></i>
                Sair
            </a>
        </div>
    </div>
</aside>